//- how to submit file
//-
//-

extends layout/city

block content

  div.page.container
    div.row
      div.col-lg-8
        div.page-header
          h1 #{ __('submitevent-title') }
    div.row
      div.col-lg-8
        p #{ __('submitevent-using', city.hostname) }
          a(href="https://www.google.com/calendar/embed?src=#{ city.calendarUrl }&ctz=Europe/Athens") #{ __('submitevent-Public Google Calendar') }
          | &nbsp; #{ __('submitevent-using-pt2') }
        p #{ __('submitevent-instructions', city.hostname) }
        h2 #{ __('submitevent-Creating the Event') }
        h3 #{ __('submitevent-Event Name, Location, Time') }
        h4 #{ __('submitevent-create-event') }
        img(src= "http://f.cl.ly/items/0P3p1330263a3A201s0H/Screen%20Shot%202014-04-11%20at%2011.40.03%20AM.png")
        p!=__('submitevent-google-maps')
        h5 #{ __('submitevent-A Good Address') }
        pre Mitropoleos 110, Thessaloniki, 54621, Greece
        h5 #{ __('submitevent-A Bad Address') }
        pre Mitropoleos 110, 2nd floor

        h3 #{ __('submitevent-The Event Description') }
        img(src="http://f.cl.ly/items/3B2Z0j232P35433Z2c1F/Screen%20Shot%202014-04-11%20at%2011.43.53%20AM.png")
        p #{ __('submitevent-event-descr', city.hostname, city.hostname) }
        ul
          li <strong>Venue:</strong> #{ __('submitevent-venue') }
          li <strong>Info:</strong> #{ __('submitevent-info') }
          li <strong>Map:</strong> #{ __('submitevent-map') }
          li <strong>About:</strong> #{ __('submitevent-about') }
        p #{ __('submitevent-one-defined') }
        pre Venue: 2nd Floor, Office 3<br>Info: http://www.openthessaloniki.org/<br>Map: https://www.google.com/maps?q=Ethnikis+Antistaseos+17,+Kalamaria,+Thessaloniki,+Greece&hl=en&sll=40.621193,22.954988&sspn=0.024365,0.039783&hnear=Leoforos+Ethnikis+Antistaseos+17,+Kalamaria,+Thessaloniki,+Greece&t=m&z=16&iwloc=A<br>About: A meetup about Open Data.

        h3 #{ __('submitevent-Inviting-cal', city.hostname) }
        img(src="http://f.cl.ly/items/322O1e3U2k1D123e211d/Screen%20Shot%202014-04-11%20at%2011.51.59%20AM.png")
        p #{ __('submitevent-email-paste') }
        pre #{ city.calendarUrl }
        p #{ __('submitevent-hard-remember', city.hostname) }
        p #{ __('submitevent-done') }
          a(href="http://#{ city.hostname }") #{ city.hostname }
          | &nbsp; website.
